html,
body {
  padding: 0;
  margin: 0;
  font-family: CircularStd, NotoSans, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: rgba(245, 243, 242);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CircularStd';
  src: url(../public//assets/fonts/circular-std-medium-500.ttf)
    format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  src: url(../public//assets/fonts/NotoSansKR-Regular.otf) format('truetype');
}

.draggable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-use-select: all;
  user-select: all;
}

.stiButton {
  display: flex;
  align-items: center;
  height: auto;
  min-height: 36px;
  max-height: 36px;
  width: inherit;
  padding: 6px 10px;
  border-color: transparent;
  border-radius: 7px;
}

.stiButton .stiButtonVisual {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stiButton:hover,
.stiButton * {
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

::-webkit-scrollbar {
  width: 5px;
  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #e9e9e9;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  /*스크롤바 뒷 배경 색상*/
}
